body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(155, 165, 156, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

h1 {
  font-size: 5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

#task-input {
  padding: 12px;
  font-size: 16px;
  width: 75%;
  max-width: 400px;
  margin-bottom: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  outline: none;
}

#task-input:focus {
  border-color: #9ba59c;
}

#add-task-button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #f7ebdb;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add-task-button:hover {
  background-color: #edd8bc;
}

.clear-btn {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #f7ebdb;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-btn:hover {
  background-color: #edd8bc;
}

#task-list {
  margin-top: 20px;
  width: 50%;
  padding: 0;
  list-style: none;
}

#task-list div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 8px 15px;
  background-color: #f9f9f9;
  gap: 5px;
}

#task-list .button-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#task-list .edit-btn,
#task-list .delete-btn {
  background-color: #6a7f8c;
  color: white;
  padding: 6px 12px;
  font-size: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 10px;
}

#task-list .edit-btn {
  background-color: #7fbc7f;
}

#task-list .edit-btn:hover {
  background-color: #6ca76d;
  transform: scale(1.05);
}

#task-list .delete-btn {
  background-color: #e0797a;
}

#task-list .delete-btn:hover {
  background-color: #d36865;
  transform: scale(1.05);
}
